
body {
	color: #2f2d2d;
	font-family: "Open Sans", Arial, Sans-Serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}


h1 {color: #E37F1C;}
h2 {color: #4F616C;}
h3 {color: #9CAE96;}
h4 {color: #58595B;}
h5 {color: #919195;}
h6 {color: #DCDDDE;}

a {
    color: #E37F1C;
    text-decoration: none;
}
a:hover {
    color: #4F616C;
}